<div th:fragment="header">
    <div class="px-4 py-5 my-5 text-center">
        <img type="button" class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" onclick="location.href='/';" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">БЛОГ ВЛАДА</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 13.10.2016 за номером ИА № ФС 7-67340</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3" onclick="location.href='/';">Главная</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='/blog';">Новости</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='/blog/add';">Добавить статью</button>
                <button type="button" class="btn btn-primary btn-lg px-4" onclick="location.href='/about';">О нас</button>
            </div>
        </div>
    </div>
</div>